.entry-grid {
  &__section {
    &_paddingless {
      padding: 0;
    }

    padding: 2 * $base-spacing 0;
    grid-column: page;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 3 * $base-spacing;
    }
  }

  &__read-more {
    margin-top: 32px;
  }

  &__pagination {
    margin-top: 32px;
  }
}
