.footer {
  min-height: 80px;
  background: #263238;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2 * $base-spacing 0 0;
  padding: $base-spacing $small-spacing;

  @media #{$mobile-screen-lg-max} {
    flex-direction: column;
    min-height: 100px;
  }

  &__contacts {
    @media #{$mobile-screen-lg-max} {
      top: -23px;
      position: absolute;
    }
  }

  &__spacer {
    flex: 1;
    @media #{$mobile-screen-lg-max} {
      display: none;
    }
  }

  &__owner {
    margin-left: $small-spacing;
    color: #90a4ae;
  }
}
