.footnotes {
  display: grid;
  grid-template-columns: inherit;
  grid-column-gap: inherit;
  grid-column: screen;
  border: 1px solid #e0e7eb;
  color: #212c31;
  padding: $base-spacing 0;
  margin-bottom: $base-spacing;

  ol {
    grid-column: shifted-text;
    font-size: 15px;
  }
}
