.footer {
  background: #263238;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2 * $base-spacing 0 0;
  padding: $base-spacing $small-spacing;

  &__spacer {
    flex: 1;
  }

  &__owner {
    margin-left: $small-spacing;
    color: #90a4ae;
  }
}
