.header {
  background: #263238;

  @media #{$mobile-screen-lg-max} {
    padding: 0 $base-spacing;
  }

  &__main-heading {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: $base-spacing;
    margin-right: $small-spacing;

    @media #{$mobile-screen-lg-max} {
      padding: $small-spacing 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media #{$mobile-screen-lg-max} {
      flex-direction: column;
    }
  }

  &__photo {
    display: block;
    height: 60px;
    width: auto;
    margin-right: $base-spacing;
  }

  &__spacer {
    flex: 1;
  }

  &__title {
    margin: 0;
    text-align: left;
    font-size: 2.2em;

    @media #{$mobile-screen-lg-max} {
      font-size: 1.8em;
    }

    @media #{$mobile-screen-sm-max} {
      font-size: 1.4em;
    }
  }

  &__root-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include styled-link(#F1F1F1);
  }

  &__links {
    display: flex;
    align-items: center;
    padding: $base-spacing;

    @media #{$mobile-screen-lg-max} {
      padding: $small-spacing 0;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    @media #{$mobile-screen-lg-max} {
      flex-direction: row;
    }
  }

  &__navigation-link {
    @include styled-link(white);
    font-family: $heading-font-family;

    @media #{$mobile-screen-lg-max} {
      font-size: 0.9em;
    }

    &:not(:last-child) {
      margin-right: $base-spacing;
    }
  }
}
