.header {
  background: $color-background;
  @include main-layout();

  @media #{$mobile-screen-lg-max} {
    padding: $small-spacing $base-spacing;
  }

  &__main-heading {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: $base-spacing 0;
    margin-right: $small-spacing;

    @media #{$mobile-screen-lg-max} {
      padding: $small-spacing 0;
      margin-right: 0;
    }
  }

  &__content {
    display: flex;
    grid-column: page;

    @media #{$mobile-screen-lg-max} {
      flex-direction: column;
    }
  }

  &__photo {
    display: block;
    height: 60px;
    width: auto;
    margin-right: $base-spacing;
  }

  &__title {
    margin: 0;
    text-align: left;
    font-size: 2.4em;

    @media #{$mobile-screen-lg-max} {
      font-size: 1.6em;
    }
  }

  &__root-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include styled-link($color-title, $color-text);
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $base-spacing;

    @media #{$mobile-screen-lg-max} {
      padding: $small-spacing 0;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    @media #{$mobile-screen-lg-max} {
      flex-direction: row;
    }
  }

  &__navigation-link {
    @include styled-link($color-gray-accent, $color-gray-active-accent);
    text-transform: uppercase;
    letter-spacing: 2px;

    font-family: $heading-font-family;
    font-size: 0.9em;

    &:not(:last-child) {
      margin-right: $base-spacing;
    }

    @media #{$mobile-screen-lg-max} {
      font-size: 0.8em;
      &:not(:last-child) {
        margin-right: $small-spacing * 1.5;
      }
    }
  }
}
