.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;

  border-top: 1px solid $color-strong-elevated-background;
  padding: $base-spacing 0;

  &-page {
    width: 30px;
    height: 30px;

    margin-right: 8px;

    background: $color-strong-elevated-background;
    border-radius: 50%;

    a, span {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      font-size: 13px;
    }

    a {
      color: black;
    }
  }

  &-first,
  &-last {
    display: none;
  }

  &-next,
  &-prev {
    display: none;
  }

  &-page_current {
    background: $color-accent;
    color: #f2fbff !important;

    &:hover {
      background: $color-active-accent;
      color: #f2fbff;
    }
  }
}
