.post-heading {
  background: $color-dark-background;
  padding: 10 * $base-spacing 0;
  position: relative;
  @include main-layout();

  @media #{$tablet-screen-lg-max} {
    padding: 30px 0;
  }

  &__image-filter {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
  }

  &__content {
    position: relative;
    z-index: 10;
    grid-column: text;
    color: $color-light-text;
  }

  &__title {
    margin-bottom: $small-spacing;
    font-size: 2.5em;
    padding: 8px;
    background: rgba($color-dark-background, 0.8);

    @media #{$mobile-screen-lg-max} {
      font-size: 1.8em;
    }
  }

  &__time {
    margin-right: $small-spacing;
    margin-bottom: $small-spacing;
    font-weight: 600;
    color: $color-light-text;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px;
    background: rgba($color-dark-background, 0.8);
  }

  &__meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: $color-light-text;

    @media #{$tablet-screen-lg-max} {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__summary {
    color: $color-light-text;
    padding: 8px;
    background: rgba($color-dark-background, 0.8);
    font-size: 16px;
  }

  &__category-list {
    margin-bottom: $small-spacing;
  }
}
