.post-preview {
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: $base-border-radius;
  transition: box-shadow .3s ease;

  &__content {
    flex: 3;
  }

  &__eyebrow {
    margin-bottom: $small-spacing / 2;
    font-weight: 400;
    color: #5d7a89;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__title {
    margin: 0 0 $small-spacing;
    font-size: 1.8em;
    font-weight: normal;
    color: $action-color;
  }

  &__summary {
    color: $medium-gray;
    font-size: 14px;
    margin-top: $small-spacing / 2;
    margin-bottom: 0;
  }

  &__cover {
    flex: 3;
  }
}

