.post {
  margin: 4 * $base-spacing 0 0;
  font-size: $article-font-size;
  line-height: 1.7;
  @include main-layout();
  padding-bottom: 4 * $base-spacing;

  > .toc:first-child {
    margin-top: -4 * $base-spacing;
  }

  > * {
    grid-column: text;
  }

  &__screen-break {
    display: grid;
    grid-template-columns: inherit;
    grid-column-gap: inherit;
    padding: 2 * $base-spacing 0;
    margin: $base-spacing 0 2 * $base-spacing;
    grid-column: screen;

    &_grey {
      border: 1px solid $gray-5;
      background: $gray-0;
    }
  }

  &__page-break {
    display: grid;
    grid-template-columns: inherit;
    grid-column-gap: inherit;
    padding: 2 * $base-spacing 0;
    margin-bottom: $base-spacing;
    grid-column: page;
  }

  &__footer {
    margin-bottom: - 4 * $base-spacing;
    display: grid;
    grid-template-columns: inherit;
    grid-column-gap: inherit;
    grid-column: screen;
    background: $gray-5;
    margin-top: 2 * $base-spacing;
    padding: 4 * $base-spacing 0;
    font-size: 14px;
    color: $gray-80;
  }
}
