.share-link-form {
  width: 100%;

  input {
    margin-bottom: 0;
  }

  &__status {
    font-family: monospace;
    font-size: $base-font-size;
    padding: $base-spacing 0;
    background: $color-elevated-background;
    text-align: center;
  }

  &__form {
    padding: $base-spacing;
    background: $color-elevated-background;
  }

  &__actions {
    text-align: right;
  }
}
