.share-link-form {
  margin: $base-spacing 0 2 * $base-spacing;
  width: 100%;

  input {
    margin-bottom: 0;
  }

  &__status {
    font-family: monospace;
    font-size: $base-font-size;
    padding: $small-spacing 0;
    margin-top: $small-spacing !important;
    background: #FBFBFB;
    text-align: center;
  }

  &__form {
    padding: $small-spacing;
    background: #FBFBFB;
    margin-top: $small-spacing;
  }

  &__actions {
    text-align: right;
  }
}
