.social-account {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__link {
    &:hover, &:active, &:focus {
      color: transparent;
      background-color: $light-gray;
    }

    display: block;
    @include size(35px);
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
    color: transparent;
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $medium-gray;

    &_vk {
      background-image: image_url("vk.svg");
    }

    &_instagram {
      background-image: image_url("instagram.svg");
    }

    &_telegram {
      background-image: image_url("telegram.svg");
    }

    &_github {
      background-image: image_url("github.svg");
    }
  }
}
