.social-account {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__link {
    &:hover, &:active, &:focus {
      color: $color-gray-active-accent;
    }

    display: block;
    margin-right: $base-spacing;
    color: $color-gray-accent;

    text-transform: uppercase;
    letter-spacing: 2px;

    @media #{$mobile-screen-lg-max} {
      font-size: 0.9em;
    }
  }
}
