.toc {
  display: grid;
  grid-template-columns: inherit;
  grid-column-gap: inherit;
  grid-column: screen;
  border: 1px solid $gray-5;
  color: $base-font-color;

  &:first-child {
    padding: 64px 0;
    margin-bottom: 32px;
  }

  padding: $base-spacing 0;
  margin-bottom: $base-spacing;

  &__content {
    grid-column: text;
    font-size: 15px;

    > ul, > ol {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }
  }
}
