$color-background: #FFFFFF;
$color-elevated-background: #F6F7F8;
$color-strong-elevated-background: #F0F1F4;
$color-dark-background: #1A1B22;
$color-title: #000000;
$color-subtitle: #828080;
$color-text: #0B0C0E;
$color-light-text: #FAFAFA;
$color-accent: #0278FE;
$color-active-accent: #016CE4;
$color-light-accent: #4794EB;
$color-light-active-accent: #3086E8;
$color-gray-accent: #828080;
$color-gray-active-accent: #5A5959;
