.site-header {
  padding: 2 * $small-spacing 0 $small-spacing;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  &__logotype {
    font-size: 2.2em;
    font-weight: bold;
    min-width: 180px;
    a {
      color: black;
      &:focus, &:hover, &:active { color: lighten($dark-gray, 3%); }
    }
  }

  &__habitat {
    min-width: 180px;
  }
}

.navigation {
  padding-top: $small-spacing * 0.5;
  padding-bottom: $small-spacing;

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    li:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.habitat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  &__link {
    &:hover, &:active, &:focus {
      color: transparent;
      background-color: #EEEEEE;
    }
    display: block;
    @include size(35px);
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
    color: transparent;
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;

    &.vk {
      background-image: image_url("vk.svg");
    }

    &.instagram {
      background-image: image_url("instagram.svg");
    }

    &.twitter {
      background-image: image_url("twitter.svg");
    }

    &.github {
      background-image: image_url("github.svg");
    }
  }
}
@media screen and (max-width: 768px) {
  .navigation__links {
    justify-content: center;
    font-size: $base-font-size - 0.1em;
  }

  .site-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
