.entries-new {
  margin: 2 * $small-spacing auto;
  width: 100%;

  input {
    margin-bottom: 0;
  }

  &__status {
    font-family: monospace;
    font-size: $base-font-size + 0.2em;
    margin-bottom: 0;
    text-align: center;
  }

  &__actions {
    text-align: right;
  }
}
