.link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: $base-font-color;

  &__icon {
    display: inline-block;
    @include size(23px);
    border-radius: 50%;
    margin-right: $small-spacing * 0.5;
    vertical-align: middle;
    background-color: $base-font-color;
    background-image: image_url("link.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    margin-top: 0;
    span {
      vertical-align: middle;
    }
  }

  &__image {
    width: 15%;
    min-width: 150px;
    margin-right: $small-spacing * 1.5;
    text-align: center;

    img {
      max-width: 150px;
      max-height: 100px;
    }
  }

  &__image-picker {
    margin-right: $small-spacing;
    user-select: none;
    i {
      display: block;
      cursor: pointer;
    }
  }

  &__content {
    flex: 1;
    padding: $small-spacing 0;
  }

  &__summary {
    color: $base-font-color;
    margin: 0;
    font-style: italic;
  }
}

@media screen and (max-width: 640px) {
  .link {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__image {
      width: 100%;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
