.link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;

  color: $base-font-color;

  &__anchor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: $base-spacing;
  }

  &__icon {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: $small-spacing / 2;
    background: #263238;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 2px;
  }

  &__image {
    width: 80px;
    margin-right: $base-spacing;
  }

  &__title {
    margin-top: 0;
    margin-bottom: $small-spacing / 2;
  }

  &__image-picker {
    margin-right: $small-spacing;
    user-select: none;
    i {
      display: block;
      cursor: pointer;
    }
  }

  &__content {
    flex: 1;
    padding: $base-spacing 0;
  }

  &__url {
    @media #{$tablet-screen-md-max} {
      display: none;
    }

    color: $base-font-color;
    font-size: 12px;
    margin-bottom: $small-spacing;
  }

  &__description {
    height: auto;
    resize: none;
    color: $base-font-color;
    font-size: 12px;
  }

  &__summary {
    position: relative;
    padding: $base-spacing;
    border-radius: 8px;

    background: lighten($light-gray, 10%);

    &::before,
    &::after {
      position: absolute;
    }

    &::before {
      content: '';
      top: -10px;
      left: 30px;
      width: 0;
      height: 0;
      border-width: 0 10.5px 10px;
      border-style: solid;
      border-color: transparent transparent lighten($light-gray, 10%);
    }

    &::after {
      content: '';
      top: -10px;
      left: 30px;
      width: 0;
      height: 0;
      border-width: 0 10.5px 10px;
      border-style: solid;
      border-color: transparent transparent lighten($light-gray, 10%);
    }

    h6 {
      font-size: 1.1em;
    }
  }
}
