.post {
  margin: $base-spacing 0;
  font-size: $article-font-size;
  line-height: 1.7;
  @include main-layout();

  > * {
    grid-column: text;
  }

  &__screen-break {
    grid-column: screen;
    padding: 2 * $base-spacing $small-spacing;
    margin: $base-spacing 0 2 * $base-spacing;

    &_grey {
      border: 1px solid #e0e7eb;
      background: #f6f8f9;
    }
  }

  &__page-break {
    grid-column: page;
    padding: 2 * $base-spacing $small-spacing;
    margin-bottom: $base-spacing;
  }
}
