.post
{
  &__header {
    margin: 0 auto $small-spacing;
    padding-bottom: $small-spacing;
    border-bottom: 1px solid $light-gray;
  }

  &__title {
    margin-bottom: $small-spacing / 4;
    font-size: 2.5em;
  }

  &__meta {
    font-size: 14px;
    color: $medium-gray;
  }

  &__categories a {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.post-preview {
  display: flex;
  flex-direction: row;
  padding: $small-spacing * 3 0;

  &__date {
    width: 15%;
    min-width: 150px;
    margin-right: $small-spacing * 1.5;
    font-size: 13px;
    color: $base-font-color;
  }

  &__content {
    flex: 3;
  }

  &__title {
    margin-top: 0;
  }

  &__summary {
    color: $base-font-color;
    font-size: 15px;
    margin-bottom: 0;
  }

  &__cover {
    flex: 3;
  }
}

@media screen and (max-width: 768px) {
  .post-preview {
    flex-direction: column;

    &__date {
      flex: auto;
      width: 100%;
      margin-bottom: 2 * $small-spacing;
    }
  }
}
