h1 Всем привет.

p Совсем скоро место этой страницы займет мой маленький уютный блог, где я буду рассказывать про разные события,
  явления и впечатления. Не обещаю, что блог будет интересным, но обещаю, что он хотя бы будет. Пока что заспойлерю первые
  статьи, которые уже давно болтаются в моих черновиках:
ul
  li <b>"Страх и ненависть в ЮФУ"</b> &mdash; про прошедшее анкетирование студентов о качестве преподавания в Южном федеральном
    университете. В статье будут истории про возникшие проблемы и пути их преодоления, весёлые графики, мои впечатления
    и сопоставление результатов анкетирования с данными об успеваемости из "Сервиса БРС".
  li <b>"Синдром самозванца как часть жизни"</b> &mdash; немного грустная статья, где красной линией пропущена мысль о том,
    что не стоит называться груздем и лезть в кузовок, когда на самом деле ты поганка. В статье про всё: и про "организацию"
    музыкальных концертов, и про мою "звукорежиссуру", и про мою "музыку", и ещё про кучу разных активностей, которые в
    конечном счете оказались мне не по плечу.
  li <b>"Мехмат: мои 4 года"</b> &mdash; статья об институте математики, механики и компьютерных наук им. И.И. Воровича.
    Любимый институт, который подарил мне много прекрасных и светлых воспоминаний, дал мне профессию и очень прочную базу.
    Расскажу как и про позитивный опыт, так и про негативный. Постараюсь написать так, чтобы никого не обидеть :)
