.images-list {
  display: grid;

  grid-template-columns: repeat(auto-fill, 200px);
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  &__item {
    height: 200px;
    background-position: center;
    background-size: cover;
    background-color: $color-elevated-background;
    background-repeat: no-repeat;
    border: 1px solid $color-strong-elevated-background;
  }

  &__alert {
    width: 100%;
    background: rgba(255, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 6px 0;
  }
}
