@import 'codemirror/lib/codemirror';
@import 'codemirror/theme/neat';
@import 'codemirror/addon/fold/foldgutter';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&subset=cyrillic');

.editor {
  $root: ".editor";

  height: 40vh;

  &--fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 100% !important;
  }

  &--large {
    height: 75vh;
  }

  &--sticky {
    height: 92vh;
  }

  &__toolbar {
    background: white;
    border: 1px solid $light-gray;
    border-bottom: 0;
    padding: $small-spacing;
    min-height: 50px;

    button {
      &:focus {
        box-shadow: none;
        outline: none;
        background: #EFEFEF;
      }
      &:not(:last-child) {
        margin-right: $small-spacing / 2;
      }
      padding: 0;
      margin: 0;
      background: none;
      color: black;
      line-height: 0.8;
    }
  }

  &__workspace {
    display: flex;
    height: calc(100% - 91px);
    flex-direction: row;

    &--preview-hidden {
      #{$root}__preview { display: none; }
      .vue-codemirror {
        max-width: 100% !important;
      }
    }

    &--input-hidden {
      .vue-codemirror {
        display: none;
      }

      #{$root}__preview {
        border-left-width: 1px;
        max-width: 100% !important;
      }
    }
  }

  select {
    margin-bottom: 0;
    max-width: 300px;
  }

  .vue-codemirror, &__preview {
    flex: 1;
    max-width: 50%;
    height: 100%;
    border: 1px solid $light-gray;
    resize: none;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }

  .CodeMirror {
    height: 100% !important;
    font-size: 15px;

    pre {
      margin: 0 !important;
      font-family: 'Roboto Mono', monospace;
    }
    &-scroll, &-vscrollbar, &-hscrollbar {
      @include good-scroll();
    }
  }

  &__preview {
    border-left-width: 0;
    overflow-y: scroll;
    background-color: #FCFCFC;
    word-wrap: break-word;
    padding: $small-spacing;
    @include good-scroll();
  }

  &__status-bar {
    display: flex;
    justify-content: space-between;
    border: 1px solid $light-gray;
    border-top: 0;
    font-size: 13px;
    background: #EEE;
    padding: $small-spacing / 2;
  }
}
