.note-editing-form {
  margin-top: -2 * $small-spacing;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: lighten(#33393d, 15%);
    color: white;
    margin: 0 -1.5 * $small-spacing $small-spacing;
    padding: 2 * $small-spacing 1.5 * $small-spacing;

    &-title {
      font-size: 25px;
      margin: 0;
    }

    &-actions {
      button {
        background: #F2D200;
        margin: 0;
        margin-left: 10px;
        transition: background .0.25s ease-in-out;
        color: black;
        &:hover, &:focus, &.router-link-exact-active, &.active {
          background: shade(#F2D200, 10%);
        }
      }
    }
  }

  &__wrapper {
    margin: -$small-spacing -1.5 * $small-spacing;
  }
}
