.widget {
  display: flex;
  flex-direction: column;

  width: $widget-width;
  border-right: 1px solid #D9D9D9;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5 * $small-spacing 1.5 * $small-spacing;
  }

  &__title {
    font-size: 25px;
    text-transform: uppercase;
    color: #444;
    margin: 0;
  }

  &__close {
    padding: 0;
    background: transparent;
    @include styled-link(black);
    &:hover, &:active, &:focus {
      background: transparent;
    }
  }

  &__list {
    @include good-scroll();
    flex: 1;
    border-top: 1px solid #D9D9D9;
    overflow-y: scroll;
  }

  &__spinner {
    flex: 1;
    border-top: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: block;
    padding: $small-spacing 1.5 * $small-spacing;
    border-bottom: 1px solid #EFEFEF;
    @include styled-link(#444);

    &:hover {
      background: #EFEFEF;
    }
  }
}
