.widget {
  display: flex;
  flex-direction: column;

  width: 350px;
  border-right: 1px solid #D9D9D9;

  &__header {
    padding: 2 * $small-spacing 1.5 * $small-spacing;
  }

  &__title {
    font-size: 25px;
    text-transform: uppercase;
    color: #444;
    margin: 0;
  }

  &__list {
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #e5e5e5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #b7b7b7;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: 0 0 0 #808080 inset;
    }
    flex: 1;
    border-top: 1px solid #D9D9D9;
    overflow-y: scroll;
  }

  &__item {
    padding: $small-spacing 1.5 * $small-spacing;
    border-bottom: 1px solid #EFEFEF;

    &:hover {
      background: #EFEFEF;
    }
  }
}
