@mixin main-layout() {
  $lg-desktop-column-width: 60px;
  $lg-desktop-column-gap: 32px;
  $md-desktop-column-width: 60px;
  $md-desktop-column-gap: 16px;

  display: grid;

  grid-template-columns:
          [screen-start] 1fr
          [page-start text-start]
          repeat(10, $lg-desktop-column-width)
          [text-end gutter-start]
          repeat(2, $lg-desktop-column-width)
          [gutter-end page-end]
          1fr [screen-end];
  grid-column-gap: $lg-desktop-column-gap;

  @media #{$desktop-screen-md-max} {
    grid-template-columns:
            [screen-start] 1fr
            [page-start text-start]
            repeat(10, $md-desktop-column-width)
            [text-end gutter-start]
            repeat(2, $md-desktop-column-width)
            [gutter-end page-end]
            1fr [screen-end];
    grid-column-gap: $md-desktop-column-gap;
  }

  @media #{$desktop-screen-xs-max} {
    grid-template-columns:
            [screen-start] 8px
            [page-start text-start gutter-start] 1fr [gutter-end text-end page-end]
            8px [screen-end];
    grid-column-gap: $md-desktop-column-gap;
  }
}

.grid-screen {
  grid-column: screen;
}

.grid-page {
  grid-column: page;
}

.grid-text {
  grid-column: text;
}

.grid-gutter {
  grid-column: gutter;
}
