html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  background: #F0F0F0;
}

#application {
  height: 100%;
  min-height: 100%;
}

.container {
  min-height: 100%;
  width: auto;
  background: white;

  &__main {
    display: flex;
    flex-direction: column;
    @include layout();
    background: white;

    @media screen and (max-width: 800px) {
      padding-left: 1.5 * $small-spacing;
      padding-right: 1.5 * $small-spacing;
    }

    > .content {
      flex: 1;
    }
  }
}

.page-title {
  margin-top: 2 * $base-spacing;
  font-weight: normal !important;
  font-size: 1.6em;
}
