html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  background: white;
}

.flex-layout {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.page-title {
  margin-top: 2 * $base-spacing;
  font-weight: normal !important;
  font-size: 1.6em;
}
