ul,
ol {
  margin: 0 0 $small-spacing;
  //padding: 0;
  li:not(:last-child) {
    margin-bottom: $small-spacing / 2;
  }
}

li > ul {
  margin-top: $small-spacing / 2;
}

li.li__checkboxed {
  margin-left: -$small-spacing;
  list-style-type: none;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
