.post-form {
  min-height: 900px;
  padding: 10px 0;

  &__editor {
    font-family: monospace;
    font-size: 16px;
    line-height: 1.6;
    min-height: 900px;
    border: 1px solid $light-gray;
    &:focus {
      outline: 0;
      box-shadow: 0;
    }
    padding: $small-spacing;
    margin: 0;
    box-shadow: none;
    margin-right: $small-spacing;
  }
}
