html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.container {
  min-height: 100%;
  width: 100%;
  padding-left: 350px + 85px;

  .sidebar {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    width: 350px + 85px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}

.content-container {
  padding: 2 * $small-spacing 1.5 * $small-spacing;
}
