$sidebar-width: 500px;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns:
          [sidebar-start small-sidebar-start] $icon-sidebar-width
          [small-sidebar-end widget-start content-start] $widget-width
          [sidebar-end widget-end small-content-start] 1fr [small-content-end content-end];
  min-height: 100%;

  &__sidebar {
    grid-column: sidebar;

    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  &__view {
    grid-column: content;
  }
}

.view {
  display: grid;
  grid-template-rows:
          [page-start header-start] 70px [header-end view-content-start] 1fr [view-content-end page-end];

  &__header {
    grid-row: header;
  }

  &__content {
    padding: $base-spacing $base-spacing 0;
    grid-row: view-content;
    overflow: hidden;
  }

  &__page {
    grid-row: page;
  }
}
