$sidebar-width: 500px;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.container {
  min-height: 100%;
  width: 100%;
  padding-left: $sidebar-width;
  transition: padding .1s ease-out;

  .sidebar {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    width: $sidebar-width;

    transition: width .1s ease-out;

    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  &--tight {
    padding-left: $icon-sidebar-width;

    .sidebar {
      width: $icon-sidebar-width;
    }

    .widget {
      opacity: 0;
    }
  }
}

.content-container {
  padding: 2 * $small-spacing 1.5 * $small-spacing;
}
