.entries-new {
  margin: $small-spacing auto 3 * $small-spacing;
  width: 90%;

  &__status {
    font-family: monospace;
    font-size: $base-font-size + 0.2em;
    margin-bottom: 0;
    text-align: center;
  }

  &__actions {
    text-align: right;
  }
}
